*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#f7d0e4;
  padding-top:50px;
  line-height:1.65;
  font-weight:300;
  overflow-x:hidden;
}

h1,h2,h3{
  font-family:'Cormorant Garamond', serif;
  font-weight:600;
  color:#190b4f;
  letter-spacing:0.3px;
}

    section{
    padding:100px 0;
    position:relative;
  }

  section::after{
    content:"";
    width:80px;
    height:1px;
    background:#d7ddd2;
    position:absolute;
    bottom:0;
    left:50%;
    display:none;
    transform:translateX(-50%);
  }

  section:last-of-type::after{
    display:none;
  }

/* HERO */

    .logo{
      width:170px;
      height:170px;
      object-fit:cover;
      border-radius: 50%;
      margin:0 auto 30px;
      margin-top: 10px;
    }

    .hero{
      position:relative;
      min-height:20vh;
      background:
        url('images/pinkandblue.jpg') center/cover no-repeat;
      display:flex;
      align-items:center;
      justify-content:center;
      text-align:center;
      color:white;
      padding:0px 20px 10px;
    }

    .hero-content{
      max-width:850px;
      padding:10px;
      animation:fadeInUp 1.2s ease;
    }

    .hero h1{
      font-size:2.6rem;
      color:white;
      margin-bottom:12px;
      line-height:1.1;
    }

    .tagline{
      font-size:1.3rem;
      margin-bottom:35px;
      font-style:italic;
      color:#f4f4f4;
    }

/* INTRO */

    .intro {
      background: #edd8e9;
      padding-top: 30px;
      padding-bottom:40px;
      text-align: center;
    } 

    .intro-btn{
      display:inline-block;
      background:white;
      color:#3e839e;
      padding:15px 32px;
      border-radius:50px;
      font-weight:600;
      transition:all 0.35s ease;
      box-shadow:0 10px 25px rgba(0,0,0,0.08);
      margin:10px 0 30px;
    }

      .intro-btn:hover{
    background:#6a8894;
    transform:translateY(-3px);
    box-shadow:0 15px 35px rgba(0,0,0,0.12);
  }


/* ABOUT */

.about{
  background:#fcf0fa;
  position:relative;
  display:block;
  width:100%;
  padding-top:40px;
}

.about-image{
  float:left;
  width:38%;
  margin:0 45px 25px 0;
}

.about-image img{
  width:100%;
  height:700px;
  display:block;
  border-radius:24px;
  box-shadow:0 20px 40px rgba(0,0,0,0.08);
}

  .section-title{
    font-size:3.2rem;
    margin-bottom:30px;
    line-height:1.1;
  }

/* QUALIFICATIONS */

.qualifications{
  background:#f7d0e4;
    }

  ul{
    padding-left:20px;
  }

/* WHY SANARA */

.whysanara{
  background:#f5dae8;
}


/* HOW I WORK */

.howiwork{
  background:#dbc1cf;
}

/* HOW I CAN HELP */

.howicanhelp{
  background:#f0aad0;
}

/* PRACTICAL INFO */

.practicalinfo{
  background:#ffabd9;
}

/* CONTACT */

.contact{
  background:#fcf0fa;
}

/* FOOTER */

.footer{
  background:#e81086;
}
  





