*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#f7f5f1;
  color:#2b3823;
  padding-top:50px;
  line-height:1.65;
  font-weight:300;
  overflow-x:hidden;
}





