*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#FADEF3;
  color:#2b3823;
  padding-top:50px;
  line-height:1.65;
  font-weight:300;
  overflow-x:hidden;
}

    section{
    padding:100px 0;
    position:relative;
  }

  section::after{
    content:"";
    width:80px;
    height:1px;
    background:#d7ddd2;
    position:absolute;
    bottom:0;
    left:50%;
    display:none;
    transform:translateX(-50%);
  }

  section:last-of-type::after{
    display:none;
  }

/* HERO */

    .logo{
      width:170px;
      height:170px;
      object-fit:cover;
      border-radius: 50%;
      margin:0 auto 30px;
      margin-top: 10px;
    }

    .hero{
      position:relative;
      min-height:20vh;
      background:
        url('images/pinkandblue.jpg') center/cover no-repeat;
      display:flex;
      align-items:center;
      justify-content:center;
      text-align:center;
      color:white;
      padding:0px 20px 10px;
    }

    .hero-content{
      max-width:850px;
      padding:10px;
      animation:fadeInUp 1.2s ease;
    }


/* ABOUT */

.about{
   position:relative;
   display:block;
   max-width:1100px;
   padding-top:0px;
}

#about{
  padding-top:40px;
}

.about-image{
  float:left;
  width:38%;
  margin:0 45px 25px 0;
}

.about-image img{
  width:100%;
  height:auto;
  display:block;
  border-radius:24px;
  box-shadow:0 20px 40px rgba(0,0,0,0.08);
}

  .section-title{
    font-size:3.2rem;
    margin-bottom:30px;
    line-height:1.1;
  }





